*.for
*.loe
*.bak
*.aux
*.bbl
*.blg
*.log
*.bcf
*.glo
*.ist
*.lof
*.lol
*.lot
*.toc
*.tps
*.run.xml
*.slg
*.fls
*.syg
*.syi
*.tcp
dokumentation.fdb_latexmk
__latexindent_temp.tex
*.gz
dokumentation.pdf